In [1]:
my_list=[1,2,3,4]

In [3]:
for number in my_list:
    print(number)

1
2
3
4

In [5]:
for item in my_list:
    new_number = item*4
    print(new_number)

4
8
12
16

In [7]:
for item in my_list:
    print("hello")

hello
hello
hello
hello

In [11]:
for item in my_list:
    if item % 3 == 1:
        print(item)

1
4

In [12]:
my_string = "james hetfield"

In [13]:
for letter in my_string:
    print(letter)

j
a
m
e
s

h
e
t
f
i
e
l
d

In [15]:
my_tuple = (1,2,3)

In [16]:
for item in my_tuple:
    print(item*3)

3
6
9

In [17]:
my_new_list = [("a", "b"), ("c", ("d"))]

In [18]:
for element in my_new_list:
    print(element)

('a', 'b')
('c', 'd')

In [20]:
for (x,y) in my_new_list:
    print(x)
    print(y)

a
b
c
d

In [21]:
my_tuple_list = [(0,1,2), (3,4,5)]

In [23]:
for (x,y,z) in my_tuple_list:
    print(y)

1
4

In [24]:
my_dictionary = {"key":45, "key2":75, "key3":89}

In [25]:
for a,b in my_dictionary.items():
    print(b)

45
75
89

In [26]:
for key,value in my_dictionary.items():
    print(key)

key
key2
key3