In [1]:
my_list = [1,2,3,4,5,6]

In [2]:
for number in my_list:
    print(number)

1
2
3
4
5
6

##range

In [3]:
range(20)

range(0, 20)

In [4]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [5]:
for number in list(range(20)):
    print(number*5)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [6]:
for num in list(range(5,20)):
    print(num)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
for num in list(range(5,21,4)):
    print(num)

5
9
13
17

##enumerate

In [12]:
index = 0
for number in list (range(5,12)):
    print(f"no: {number} ix: {index}")
    index +=1

no: 5 ix: 0
no: 6 ix: 1
no: 7 ix: 2
no: 8 ix: 3
no: 9 ix: 4
no: 10 ix: 5
no: 11 ix: 6

In [13]:
for element in enumerate(list(range(5,15))):
    print(element)

(0, 5)
(1, 6)
(2, 7)
(3, 8)
(4, 9)
(5, 10)
(6, 11)
(7, 12)
(8, 13)
(9, 14)

In [14]:
for (index, number) in enumerate(list(range(5,15))):
    print(index)
    print(number)

0
5
1
6
2
7
3
8
4
9
5
10
6
11
7
12
8
13
9
14

#random

In [15]:
from random import randint

In [16]:
randint(0,1000)

198

In [17]:
randint(0,10)

1

In [18]:
my_list_2 =list(range(0,10))

In [19]:
my_list_2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
from random import shuffle

In [21]:
shuffle(my_list_2)

In [22]:
my_list_2

[5, 9, 1, 2, 3, 7, 6, 8, 0, 4]

#zip

In [23]:
sport_list = ["run", "swim", "basketball"]

In [24]:
calories_list = [40,50,60]

In [25]:
day_list = ["sunday","monday","tuesday"]

In [26]:
zip(sport_list,calories_list,day_list)

In [31]:
new_list = list(zip(sport_list,calories_list,day_list))

In [32]:
new_list

[('run', 40, 'sunday'), ('swim', 50, 'monday'), ('basketball', 60, 'tuesday')]

In [33]:
for element in new_list:
    print(element)

('run', 40, 'sunday')
('swim', 50, 'monday')
('basketball', 60, 'tuesday')

##list advanced

In [34]:
new_list = []
my_string = "eminem"

for element in my_string:
    new_list.append(element)

In [35]:
new_list

['e', 'm', 'i', 'n', 'e', 'm']

In [36]:
new_list = [element for element in my_string]

In [37]:
new_list

['e', 'm', 'i', 'n', 'e', 'm']

In [40]:
new_list_2 = [number*5 for number in list (range(0,10))]

In [41]:
new_list_2

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]